# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/main/Unity.gitignore
#
Prototype 1 - Car/[Ll]ibrary/
Prototype 1 - Car/[Tt]emp/
Prototype 1 - Car/[Oo]bj/
Prototype 1 - Car/[Bb]uild/
Prototype 1 - Car/[Bb]uilds/
Prototype 1 - Car/[Ll]ogs/
Prototype 1 - Car/[Uu]ser[Ss]ettings/
Prototype 2 - Animals/[Ll]ibrary/
Prototype 2 - Animals/[Tt]emp/
Prototype 2 - Animals/[Oo]bj/
Prototype 2 - Animals/[Bb]uild/
Prototype 2 - Animals/[Bb]uilds/
Prototype 2 - Animals/[Ll]ogs/
Prototype 2 - Animals/[Uu]ser[Ss]ettings/
Prototype 3 - Sidescroller/[Ll]ibrary/
Prototype 3 - Sidescroller/[Tt]emp/
Prototype 3 - Sidescroller/[Oo]bj/
Prototype 3 - Sidescroller/[Bb]uild/
Prototype 3 - Sidescroller/[Bb]uilds/
Prototype 3 - Sidescroller/[Ll]ogs/
Prototype 3 - Sidescroller/[Uu]ser[Ss]ettings/
Prototype 4 - Sumo/[Ll]ibrary/
Prototype 4 - Sumo/[Tt]emp/
Prototype 4 - Sumo/[Oo]bj/
Prototype 4 - Sumo/[Bb]uild/
Prototype 4 - Sumo/[Bb]uilds/
Prototype 4 - Sumo/[Ll]ogs/
Prototype 4 - Sumo/[Uu]ser[Ss]ettings/
Performance tests/[Ll]ibrary/
Performance tests/[Tt]emp/
Performance tests/[Oo]bj/
Performance tests/[Bb]uild/
Performance tests/[Bb]uilds/
Performance tests/[Ll]ogs/
Performance tests/[Uu]ser[Ss]ettings/
Prototype 5 - Ninja/[Ll]ibrary/
Prototype 5 - Ninja/[Tt]emp/
Prototype 5 - Ninja/[Oo]bj/
Prototype 5 - Ninja/[Bb]uild/
Prototype 5 - Ninja/[Bb]uilds/
Prototype 5 - Ninja/[Ll]ogs/
Prototype 5 - Ninja/[Uu]ser[Ss]ettings/


# MemoryCaptures can get excessive in size.
# They also could contain extremely sensitive data
Prototype 1 - Car/[Mm]emoryCaptures/
Prototype 2 - Animals/[Mm]emoryCaptures/
Prototype 3 - Sidescroller/[Mm]emoryCaptures/
Prototype 4 - Sumo/[Mm]emoryCaptures/
Performance tests/[Mm]emoryCaptures/
Prototype 5 - Ninja/[Mm]emoryCaptures/

# Recordings can get excessive in size
Prototype 1 - Car/[Rr]ecordings/
Prototype 2 - Animals/[Rr]ecordings/
Prototype 3 - Sidescroller/[Rr]ecordings/
Prototype 4 - Sumo/[Rr]ecordings/
Performance tests/[Rr]ecordings/
Prototype 5 - Ninja/[Rr]ecordings/


# Uncomment this line if you wish to ignore the asset store tools plugin
# Prototype 1 - Car/[Aa]ssets/AssetStoreTools*
# Prototype 2 - Animals/[Aa]ssets/AssetStoreTools*
# Prototype 3 - Sidescroller/[Aa]ssets/AssetStoreTools*
# Prototype 4 - Sumo/[Aa]ssets/AssetStoreTools*
# Performance tests/[Aa]ssets/AssetStoreTools*
# Prototype 5 - Ninja/[Aa]ssets/AssetStoreTools*

# Autogenerated Jetbrains Rider plugin
Prototype 1 - Car/[Aa]ssets/Plugins/Editor/JetBrains*
Prototype 2 - Animals/[Aa]ssets/Plugins/Editor/JetBrains*
Prototype 3 - Sidescroller/[Aa]ssets/Plugins/Editor/JetBrains*
Prototype 4 - Sumo/[Aa]ssets/Plugins/Editor/JetBrains*
Performance tests/[Aa]ssets/Plugins/Editor/JetBrains*
Prototype 5 - Ninja/[Aa]ssets/Plugins/Editor/JetBrains*

# Visual Studio cache directory
.vs/

# Gradle cache directory
.gradle/

# Autogenerated VS/MD/Consulo solution and project files
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity3D generated meta files
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Unity3D generated file on crash reports
sysinfo.txt

# Builds
*.apk
*.aab
*.unitypackage
*.app

# Crashlytics generated file
crashlytics-build.properties

# Packed Addressables
Prototype 1 - Car/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
Prototype 2 - Animals/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
Prototype 3 - Sidescroller/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
Prototype 4 - Sumo/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
Performance tests/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
Prototype 5 - Ninja/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*

# Temporary auto-generated Android Assets
Prototype 1 - Car/[Aa]ssets/[Ss]treamingAssets/aa.meta
Prototype 1 - Car/[Aa]ssets/[Ss]treamingAssets/aa/*
Prototype 2 - Animals/[Aa]ssets/[Ss]treamingAssets/aa.meta
Prototype 2 - Animals/[Aa]ssets/[Ss]treamingAssets/aa/*
Prototype 3 - Sidescroller/[Aa]ssets/[Ss]treamingAssets/aa.meta
Prototype 3 - Sidescroller/[Aa]ssets/[Ss]treamingAssets/aa/*
Prototype 4 - Sumo/[Aa]ssets/[Ss]treamingAssets/aa.meta
Prototype 4 - Sumo/[Aa]ssets/[Ss]treamingAssets/aa/*
Performance tests/[Aa]ssets/[Ss]treamingAssets/aa.meta
Performance tests/[Aa]ssets/[Ss]treamingAssets/aa/*
Prototype 5 - Ninja/[Aa]ssets/[Ss]treamingAssets/aa.meta
Prototype 5 - Ninja/[Aa]ssets/[Ss]treamingAssets/aa/*